$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: #4A4453;

/* width */
::-webkit-scrollbar {
	width: 0px;
  }

.terminal {
	width: 35vw;
	height:45vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top:30%;
	left:30%;
}

.terminal-focused {
	width: 35vw;
	height:45vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top:30%;
	left:30%;
	z-index:6;
}




