$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: #4a4453;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

/* width */
::-webkit-scrollbar {
	width: 0px;
}

.terminal {
	width: 35vw;
	height: 45vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top: 30%;
	left: 30%;
}

#terminal-window {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	background-color: #292d3e;
	overflow-y: scroll;
}

#prompt {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

#prompt form input {
	background-color: transparent;
	border: none;
	color: beige;
	outline: none;
	font-size: 1rem;
	font-family: "Noto Sans Mono", monospace;
}

.terminal-line {
	color: beige;
	font-size: 1rem;
	font-family: "Noto Sans Mono", monospace;
}

.terminal-focused {
	width: 35vw;
	height: 45vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top: 30%;
	left: 30%;
	z-index: 6;
}
