#mobile-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 1rem;
	background-color: #1b1b1b;
	opacity: 0.9;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#mobileTime {
	font-size: 0.7rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #dadada;
	text-align: right;
	margin-left: 0.3rem;
}
.mobile-icons {
	color: #dadada;
	font-size: 0.7rem;
}
#mobile-icon-container {
	display: flex;
	margin-right: .3rem;
	align-items: center;
}
#mobile-icon-container p {
	font-size: 0.7rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #dadada;
	text-align: right;
	margin-left: 0.3rem;
}
