$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);

#backButton {
	color: #dadada;
	cursor: pointer;
}

#max-file {
	background-color: #dadada;
	color: #1b1b1b;
}

.file-manager {
	width: 35vw;
	height: 45vh;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top: 30%;
	left: 30%;
	background-color: #dadada;
	color: #1b1b1b;
}

.file-manager-focused {
	width: 35vw;
	height: 45vh;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top: 30%;
	left: 30%;
	background-color: #dadada;
	color: #1b1b1b;
	z-index:6;
}

#file-view {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(6,1fr);
	height:90%;
	width:100%;
}

.file {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height:100%;
}

.file img {
	width:70%;
	height:auto;
}

.file p {
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	color: #1b1b1b;
}
