$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);

#notes {
	width:100%;
	height:100%;
	border: none;
	
}

textarea:focus {
	outline:none;
}

.notepad {
	width: 40vw;
	height:80vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position:absolute;
	top:30%;
	left:30%;
	z-index:1;
}

.notepad-focused {
	width: 40vw;
	height:80vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	z-index:6;
	position:absolute;
	top:30%;
	left:30%;
}
