$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: rgba(74, 68, 83, 0.85);

#taskbar-container {
	background-color: red;
}

#taskbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: $mediumShadow;
	align-items: center;
	background-color: $darkColor;
	width: 100vw;
	height: 5vh;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 7;
}

#startMenuButton {
	margin-left: .5rem;
}

#taskbarTime {
	color: white;
	padding: .4rem
}

#taskbarApps {
	display: flex;
	height:90%;
}

#taskbarApps img {
	margin-left: .5rem;
	margin-right: .5rem;
}