$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: #4A4453;

/* width */

.browser {
	width: 70vw;
	height:80vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	
}

#webPage {
	width:100%;
	height:100%;
	border:none;
}