$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: rgba(74, 68, 83, 0.85);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu&display=swap');

#startMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	bottom: 6vh;
	left: .5rem;
	background-color: $darkColor;
	height: 52vh;
	width: 20vw;
	z-index: 7;
	border-radius: 10px;
	box-shadow: $mediumShadow;
}


.startApps {
	display: flex;
	flex-direction: row;
	align-items: center;
	width:35%;
	height:10%;
	margin:.5rem;
	cursor:pointer;
}

.startApps img {
	height: 100%;
	width: auto;
	margin-right:.5rem;
	margin-left:.5rem;
}

.startApps p {
	color:#dadada;
	font-size: .8rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}