$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: rgba(74, 68, 83, 0.85);

#startMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	bottom: 6vh;
	left: 1rem;
	background-color: $darkColor;
	height: 40vh;
	width: 20vw;
	z-index: 7;
	border-radius: 10px;
	box-shadow: $mediumShadow;
}


.startApps {
	display: flex;
	flex-direction: row;
	align-items: center;
	width:35%;
	height:10%;
	margin:.5rem;
	cursor:pointer;
}

.startApps img {
	height: 100%;
	width: auto;
	margin:.5rem;
}

.startApps p {
	color:white;
}