$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: rgba(74, 68, 83, 0.85);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu&display=swap");

#desktop {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -3;
	background-size: cover;
}

#shortcutContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
}

.shortcut {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 7rem;
	width: 100%;
}

.shortcut img {
	height: 3rem;
	width: auto;
	margin-bottom: 0.2rem;
	box-shadow: $mediumShadow;
}

.shortcut a {
	text-decoration: none;
	width: 3rem;
	height: 45%;
	text-align: center;
	color: white;
	margin-bottom: 0.2rem;
	
}

#github img {
	height: 3rem;
	width: auto;
	box-shadow: none;
}

#Shulgin img {
	height: 3rem;
	width: auto;
	box-shadow: none;
}

#Violet img {
	height: 3rem;
	width: auto;
	box-shadow: none;
}

.shortcut p {
	background-color: $darkColor;
	color: white;
	border-radius: 5px;
	padding: 0.3rem;
	font-size: 0.75rem;
	color: #dadada;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

@media only screen and (max-width: 1344px) {
	#github img {
		height: 2.5rem;
		width: auto;
	}

	#Auri span {
		height: 2.5rem;
		width: auto;
	}

	#Shulgin img {
		height: 2.5rem;
		width: auto;
	}

	#Violet img {
		height: 2.5rem;
		width: auto;
		box-shadow: none;
	}
	.shortcut img {
		height: 2.5rem;
		width: auto;
		margin-bottom: 0.2rem;
		box-shadow: $mediumShadow;
	}

}

@media only screen and (max-width: 500px) {

	#desktop {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: flex-start;
		#shortcutContainer {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 90%;
			justify-content: space-evenly;
			align-items: flex-start;
			.shortcut {
				background-color: rgba(74, 68, 83, 0.85);
				border-radius: 10px;
				width: 4.5rem;
				height: 4.5rem;
				margin: 1rem;
				
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				p {
					text-align: center;
					background-color: none;
					font-size: 0.5rem;
					background-color: transparent;
					color: white;
					border-radius: 5px;
					padding: 0.3rem;
					color: #dadada;
					font-family: "Montserrat", sans-serif;
					font-weight: 600;
				}
				img {
					height: 2rem;

				}
			}
		}
	}

	#Auri span {
		font-size: 2rem !important;
	}

	#github img {
		height: 2rem;
		width: auto;
	}

	#Shulgin img {
		height: 2rem;
		width: auto;
	}

	#Violet img {
		height: 2rem;
		width: auto;
		box-shadow: none;
	}

	#desktop {
		top: 2vh;
		height: 98vh;
		grid-template-rows: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 300px) {

	#desktop {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: flex-start;
		#shortcutContainer {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: 90%;
			justify-content: space-evenly;
			align-items: flex-start;
			.shortcut {
				background-color: rgba(74, 68, 83, 0.85);
				border-radius: 10px;
				width: 3rem;
				height: 4rem;
				
				
				display: flex;
				flex-direction: column;
				align-items: center !important;
				justify-content: center !important;
				p {
					text-align: center;
					background-color: none;
					font-size: 0.5rem;
					background-color: transparent;
					color: white;
					border-radius: 5px;
					padding: 0.3rem;
					color: #dadada;
					font-family: "Montserrat", sans-serif;
					font-weight: 600;
				}
				img {
					height: 1rem;

				}
			}
		}
	}

	#Auri span {
		font-size: 1rem !important;
	}

	#github img {
		height: 2rem;
		width: auto;
	}

	#Shulgin img {
		height: 2rem;
		width: auto;
	}

	#Violet img {
		height: 2rem;
		width: auto;
		box-shadow: none;
	}

	#desktop {
		top: 2vh;
		height: 98vh;
		grid-template-rows: repeat(1, 1fr);
	}
}
