$mediumShadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
$lightPurple: #776d87;
$darkColor: #4a4453;

/* width */

.music-player {
	width: 50vw;
	height: 60vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	position: absolute;
	top: 10%;
	left: 15%;
}

.music-player-focused {
	width: 50vw;
	height: 60vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	resize: both;
	box-shadow: $mediumShadow;
	z-index: 6;
	position: absolute;
	top: 10%;
	left: 15%;
}

#music-player {
	width:100%;
	height: calc(100% - 2.5rem);
	display:flex;
	background-color: #4a4453;
}

#gallery {
	width: 50%;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#album-cover {
	width:auto;
	height:90%;
	margin-left: 10%;
	border-radius: 10px;
	box-shadow: $mediumShadow;
}

#lyrics-controls {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	height: 100%;
}

#lyrics {
	height: 70%;
	overflow: hidden;
}

#lyrics p {
	color: #dadada;
	font-family: "Montserrat";
	font-weight:600;
	text-shadow: $mediumShadow;
	text-align: center;
	animation-name: slide;
	animation-duration: 210s;
	animation-delay: 13s;
}

@keyframes slide {
	from {margin-top:0;}
	to {margin-top:-60rem;}
}

#controls span {
	color: #dadada;
	font-size: 3rem;
	text-shadow: $mediumShadow;
	cursor:pointer;
}